<% 
    jsElements.agregar('/js/Chart.min.js');
    jsElements.agregar('/js/alumno/index.js');
    cssElements.agregar('/css/alumno/index.css');
%>
<div class="row encabezado">
    <div class="medium-2 columns">
<% if (esEntrenador) { %>
            <div class="row">
                <a href="/entrenador/reportes">
                    <img src="/images/back.png" style="height:64px"/>
                </a>
            </div>
            <div class="row">
                <a href="/entrenador">
                    <span>Regresar</span>
                </a>
            </div>
<% } else { %>
        <a href="/logout" class="medium-8 columns text-center">
            <div class="row espaciado-top">
                <div class="medium-12 columns">
                    <br />
                </div>
            </div>
            <div class="row">
                <div class="medium-12 columns">
                    <img src="/images/logout.png"/>
                </div>
            </div>
            <div class="row">
                <div class="medium-12 columns">
                    <span>Cerrar sesión</span>
                </div>
            </div>
        </a>
<% } %>
    </div>

    <div class="medium-6 columns">
        <div class="medium-4 columns imagen-piloto">
            <img src="/images/captain_pilot.png"/>
        </div>
        <div class="medium-8 columns">
            <div class="row">
                <div class="medium-12 columns">
                    <h3><%- nombreDelAlumno %></h3>
                </div>
            </div>
            <div class="row texto-estadisticas">
                <div class="medium-12 columns">
                    <span><a href="#" data-reveal-id="sesiones-modal">Sesiones realizadas</a>: <%- cantSesiones %></span>
                </div>
            </div>
            <div class="row texto-estadisticas">
                <div class="medium-12 columns">
                    <span>Tiempo total de sesiones : <%- tiempoTotal %></span>
                </div>
            </div>

            <div class="row texto-estadisticas">
                <div class="medium-12 columns">
                    <a href="#" data-reveal-id="Chart-modal" class="config-chart">Editar graficas</a>
                </div>
            </div>

        </div>
    </div>

    <div class="medium-2 columns text-center desempeno-general">
        <div class="row">
            <div class="medium-12 columns">
                <h6>Desempeño general</h6>
            </div>
        </div>
        <div class="row">
            <div class="medium-12 columns">
                <h2><%- desempenoGeneral %></h2>
            </div>
        </div>
    </div>

    <div class="medium-2 columns text-center iniciar-sesion">
<% if (!esEntrenador) { %>
        <a href="/alumno/escenarios">
            <div class="row espaciado-top">
                <div class="medium-12 columns">
                    <br />
                </div>
            </div>
            <div class="row">
                <div class="medium-12 columns">
                    <span>Realizar sesión</span>
                </div>
            </div>
            <div class="row">
                <div class="medium-12 columns">
                    <img src="/images/helicopter2.png"/>
                </div>
            </div>
        </a>
<% } %>
    </div>
</div>

<div class="row main-panel" data-ng-controller="alumnoIndexCtlr" id="alumnoIndexCtlr">
    <div class="medium-12 columns height-100p-col statistics-panel">

        <div id="no-hay-panel" class="height-100p-col" data-ng-hide="hayEstadisticas">
            <div class="no-hay-cont">
                <div class="row">
                    <div class="medium-12 columns">
                        <h4>No hay estadísticas para mostrar.</h4>
                        <p>Para generar estadísticas es necesario que realice alguna sesión de entrenamiento.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row escenarios-charts" data-ng-show="hayEstadisticas">

            <div class="medium-4 columns height-100p-col">
                <div class="medium-6 columns">
                    <ul class="leyenda-escenarios">
                        <li ng-repeat="escenario in conteoEscenariosData"><span data-ng-style="{'background-color':escenario.color}">&#160;&#160;&#160;</span>
                        <span>{{escenario.label}}</span></li>
                    </ul>
                </div>
                <canvas id="escenariosPieChart" class="medium-6 columns"></canvas>
            </div>

            <canvas id="escenariosPromedioPolarChart" class="medium-2 columns"></canvas>
            
            <div class="medium-6 columns height-100p-col">
                <canvas id="historialEscenariosLineChart"></canvas>    
            </div>
        </div>

        <div class="row aeronaves-charts" data-ng-show="hayEstadisticas">
            <canvas id="aeronavePromedioPolarChart" class="medium-5 columns"></canvas>
            <canvas id="historialAeronaveLineChart" class="medium-7 columns"></canvas>
        </div>

        <div id="Chart-modal" class="reveal-modal" data-reveal>
            <h2>Seleccione una opción de visualización</h2>
            <fieldset>
                <legend>Según escenario</legend>
                <p>Puede visualizar su desempeño en todas sus sesiones o ver sólo las de un escenario en particular</p>
                <select data-ng-model="escenarioSeleccionado" data-ng-options="escenario.nombre for escenario in escenarios">
                    <option value="">-- Todos --</option>
                </select>
            </fieldset>

            <fieldset>
                <legend>Según aeronave</legend>
                <p>Puede visualizar según un modelo de aeronave en específico</p>
                <select data-ng-model="modeloSeleccionado" data-ng-options="modelo for modelo in modelosAeronaves"></select>
            </fieldset>
            <a class="close-reveal-modal">&#215;</a>
        </div>

        <div id="sesiones-modal" class="reveal-modal" data-reveal>
            <h2>Buscar sesiones realizadas</h2>
            <p>Puede buscar una sesión de entrenamiento realizada para ver su calificación y los comentarios del entrenador</p>
            <fieldset>
                <legend>Filtro de búsqueda</legend>
                <div id="alertas-container"></div>
                <form>
                    <div class="row">
                        <div class="medium-6 columns">
                            <label>Fecha
                                <input type="text" data-ng-model="Filtro.fechaInicio" placeholder="Fecha exacta o fecha de inicio de rango" />
                            </label>
                        </div>
                        <div class="medium-6 columns">
                            <label>Fecha fin de rango
                                <input type="text" data-ng-model="Filtro.fechaFin" placeholder="Fecha del fin de rango" />
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="medium-12 columns">
                            <label>Nombre del escenario
                                <input type="text" data-ng-model="Filtro.escenario" placeholder="Nombre del escenario o palabras clave" />
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="medium-12 columns">
                            <label>Modelo de aeronave
                                <select data-ng-model="Filtro.modelo" data-ng-options="Filtro.modelosAeronaves.indexOf(modelo) as modelo for modelo in Filtro.modelosAeronaves">
                                    <option value="">-- Todos --</option>
                                </select>
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="medium-12 columns">
                            <a href="#" data-ng-click="buscarSesiones()" class="button">Buscar</a>
                        </div>
                    </div>
                </form>
            </fieldset>
            <a class="close-reveal-modal">&#215;</a>
        </div>

        <div id="sesiones-loading-modal" class="reveal-modal" data-reveal>
            <h2>Obteniendo sesiones</h2>
            <p>Se están buscando las sesiones según el filtro dado, por favor espere...</p>
        </div>

        <div id="sesiones-resultados-modal" class="reveal-modal" data-reveal>
            
            <div class="row">
                <div class="medium-8 columns">
                    <h2>Resultados de búsqueda</h2>
                </div>
                <div class="medium-3 columns">
                    <a href="#" class="button" data-reveal-id="sesiones-modal">Nueva búsqueda</a>
                </div>
            </div>

            <fieldset data-ng-show="Filtro.fechaInicio || Filtro.escenario || Filtro.modelo !== null">
                <legend>Filtro de búsqueda</legend>
                <span ng-show="Filtro.fechaInicio"><strong>Fecha:</strong> <span ng-show="Filtro.fechaFin"> Desde </span>{{Filtro.fechaInicio}} <span ng-show="Filtro.fechaFin">hasta {{Filtro.fechaFin}}</span> || </span>
                <span ng-show="Filtro.escenario"><strong>Escenario:</strong> {{Filtro.escenario}} || </span>
                <span><strong>Modelo: </strong></span><span ng-hide="Filtro.modelo !== null">Todos</span>
                <span ng-show="Filtro.modelo !== null">{{Filtro.modelosAeronaves[Filtro.modelo]}}</span>
            </fieldset>
            
            <div class="row">
                <div class="medium-12 columns sesiones-resultados-busqueda">
                    <h5 data-ng-hide="sesionesEncontradas">No hay sesiones para mostrar.</h5>
                    <table data-ng-show="sesionesEncontradas" class="full-width-col">
                        <thead>
                            <tr>
                                <th >Escenario</th>
                                <th width="80">Modelo</th>
                                <th width="100">Fecha</th>
                                <th width="80">Evaluación</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-ng-repeat="sesion in sesionesEncontradas" data-ng-click="verSesion(sesion)" data-ng-class="{seleccionada: sesion === sesionSeleccionada}" data-reveal-id="detalles-sesion-modal">
                                <td>{{sesion.Escenario.Nombre}}</td>
                                <td>{{Filtro.modelosAeronaves[sesion.ModeloDeAeronave]}}</td>
                                <td>{{sesion.Fecha | date:'dd/MM/yyyy h:mm a'}}</td>
                                <td>{{sesion.Evaluacion}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <a class="close-reveal-modal">&#215;</a>
        </div>

        <div id="detalles-sesion-modal" class="reveal-modal" data-reveal>
            
            <div class="row">
                <div class="medium-9 columns">
                    <h2>Detalles de la sesión realizada</h2>
                </div>
                <div class="medium-3 columns">
                    <a href="#" class="button" data-reveal-id="sesiones-resultados-modal"><strong>&#8678;</strong> Regresar</a>
                </div>
            </div>

            <div class="row">
                <div class="medium-4 columns">
                    <fieldset>
                        <legend>Fecha de realización</legend>
                        <span>{{sesionSeleccionada.Fecha | date:'dd/MM/yyyy h:mm a'}}</span>
                    </fieldset>
                </div>

                <div class="medium-4 columns">
                    <fieldset>
                        <legend>Modelo de la aeronave</legend>
                        <span>{{Filtro.modelosAeronaves[sesionSeleccionada.ModeloDeAeronave]}}</span>
                    </fieldset>
                </div>

                <div class="medium-4 columns">
                    <fieldset>
                        <legend>Calificación</legend>
                        <span>{{sesionSeleccionada.Evaluacion}}</span>
                    </fieldset>
                </div>
            </div>

            <fieldset>
                <legend>Escenario en el que se realizó</legend>
                <span>{{sesionSeleccionada.Escenario.Nombre}}</span>
            </fieldset>

            <fieldset>
                <legend>Comentarios del entrenador</legend>
                <span data-ng-hide="sesionSeleccionada.Observaciones"><em>No hay comentarios del entrenador.</em></span>
                <span data-ng-show="sesionSeleccionada.Observaciones">{{sesionSeleccionada.Observaciones}}</span>
            </fieldset>
            <a class="close-reveal-modal">&#215;</a>
        </div>

        <div id="Error-modal" class="reveal-modal" data-reveal>
            <h2>Ocurrió un error. =(</h2>
            <p>No se pudo completar la acción. Por favor verifique el estado de su conexión e intente de nuevo más tarde.</p>
            <a class="close-reveal-modal">&#215;</a>
        </div>

        <script>
            $('document').ready(function() {
                $('#alumnoIndexCtlr').scope().initialize(JSON.parse('<%- JSON.stringify(estadisticas) %>'));
            });
        </script>

    </div>
</div>